{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-xl">
        <div class="pt-6 pt-lg-7">
            <h1 class="mb-4 text-blue-4">
                Plants
            </h1>
            {% if content.article|striptags != '' %}
                <div class="pt-2 pb-4">
                    {{ content.article|raw }}
                </div>
            {% endif %}

            <ul role="menu" itemscope="" itemtype="" class="row / list-unstyled">
                {% for item in content.catalog_items|sort((a, b) => a.title <=> b.title) %}
                    {% include 'includes/_catalog-list-item.html.twig' with {
                        url: sulu_content_path(item.url, item.webspaceKey),
                        title: item.title,
                        title_maori: item.title_maori ? item.title_maori : '&nbsp;'
                    } %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
