{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-xl">
        <h1 class="mt-2 mt-lg-6 mb-4">{{ content.title }}</h1>

        {{ content.article|raw }}
    </div>
{% endblock %}
