.home-tile{
	@include media-breakpoint-down(sm) {
		.ratio{
			&:before {
				display:none !important;
			}
			> * {
				position:static !important;
			}
		}
		a{
			text-decoration:none !important;
		}
	}

	&:nth-child(1){
		a{
			background:no-repeat center / cover;

			>span{
				background:rgba($primary, 0.9);
			}
		}
	}
	&:nth-child(2){
		a{
			background:no-repeat center / cover;

			>span{
				background:rgba($secondary, 0.9);
			}
		}
	}
}