<footer class="footer / text-white bg-blue-4">
	<div class="container">
		<div class="py-6 / lh-1-5">
			<span class="fw-700">Phone:</span> 021 119 0998<br>
			<span class="fw-700">Email:</span> olga.levanova@gmail.com<br>
			<span class="fw-700">Address:</span> 1 Lintaine Place, Glen Innes, Auckland, 1072
		</div>
	</div>
</footer>