/*

  Site Header
  ----------------------------------

*/
.site-header{
	flex-shrink: 0;
}
.header__logo{
	width:47px;
	height:47px;

	@include media-breakpoint-up(md){
		width:80px;
		height:80px;
	}
}