/*

  Site Header
  ----------------------------------

*/
.site-header{
	flex-shrink: 0;
}
.header__logo{
	width:47px;
	height:47px;

	@include media-breakpoint-up(md){
		width:80px;
		height:80px;
	}
}
.header{
	[role="menu"] {
		li:not(:last-child){
			padding-top:1px;
		}
	}
}
.btn-search,
.btn-enter{
	svg{
		width:30px;
		height:30px;
	}
	path{
		fill:$primary;
	}
}