/*

  Fonts
  ----------------------------------
  Custom fonts.

*/

$font-path: '/public/assets/fonts/Helvetica-Black/';

// ----------------------------------

// Helvetica Black
@font-face {
  font-family:'Helvetica-Black';
  font-style:normal;
  font-weight:bold;
  src:url($font-path + 'Helvetica-Black.woff2') format('woff2');
  font-display:auto;
}