{% extends "base.html.twig" %}

{% block header %}
  {% include 'includes/_header.html.twig' %}
{% endblock %}


{% block body %}
  <main class="content / py-6">
    <div class="container">
      {% if (pageTitle is defined and pageTitle != false) or (pageTitle is not defined) %}
        <h1 class="mt-2 mt-lg-6 mb-4">{{ pageTitle is defined ? pageTitle : content.title }}</h1>
      {% endif %}

      {% block content %}{% endblock %}
    </div>
  </main>
{% endblock %}

{% block footer %}
  {% include 'includes/_footer.html.twig' %}
{% endblock %}
