{% extends "base.html.twig" %}

{% block header %}
  {% include 'includes/_header.html.twig' %}
{% endblock %}


{% block body %}
  {% block hero %}{% endblock %}

  <main class="content">
      {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block footer %}
  {% include 'includes/_footer.html.twig' %}
{% endblock %}
